<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>게시글 작성하기</title>
</head>
<body>
<div>
    <form method="post" action="/posts" id="postForm">
        <div>게시물 작성하기</div>
        <div>
            <label>
                카테고리를 선택하세요:
                <select name="category" form="postForm">
                    <option value="A">A</option>
                    <option value="B">B</option>
                    <option value="C">C</option>
                    <option value="D">D</option>
                </select>

            </label>
        </div>
        <div>
            <label>
                제목:
                <input name="title" type="text">
            </label>

        </div>
        <div>
            <label>
                내용:
                <input name="content" type="text">
            </label>
        </div>
        <div>
            <label>
                작성자:
                <input name="writerName" type="text">
            </label>
        </div>
        <div>
            <button
                    th:onclick="|location.href='@{/posts/list}'|"
                    type="submit">저장</button>
        </div>
        <div>
            <li><a href="/posts/list"> 게시물 목록 </a>    </div>
</div>
    </form>
</div>
</body>
</html>