<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
</head>

<script>
    function goDetailPage(articleId) {
        var loginUser = '[[${session.loginUser}]]'
        var isLogin = loginUser != null && loginUser != '';
        console.log("isLogin : ", isLogin)

        if (isLogin) {
            location.href = '/posts/items/' + articleId;
        } else {
            alert('로그인 후 이용해주세요');
        }
    }
</script>
<body>
<div class="col">
    <button th:if="${session.member == null}" class="w-100 btn btn-secondary btn-lg"
            th:onclick="location.href='/users/login'"
            type="button">
        로그인
    </button>

    <button th:if="${session.member != null}" class="w-100 btn btn-secondary btn-lg"
            th:onclick="location.href='/users/logout'"
            type="button">
        로그아웃
    </button>
</div>
<!--<div class="col" th:if="${loginUser}">-->
<!--    <button class="w-100 btn btn-secondary btn-lg"-->
<!--            th:onclick="location.href='/posts/items/' + ${loginUser}"-->
<!--            type="button">내 상세페이지 보기-->
<!--    </button>-->



<div class="container" style="max-width: 600px">

    <div class="py-5 text-center">
        <h2>게시물 목록</h2></div>
    <div class="row">
        <div class="col">
            <button class="btn btn-primary float-end"
                    th:onclick="location.href='/posts/write'"
                    type="button">게시물 작성으로
            </button>
        </div>
    </div>
    <hr class="my-4">
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>카테고리</th>
                <th>제목</th>
                <th>내용</th>
                <th>작성자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td>
                    <button th:onclick="goDetailPage([[${article.id}]])">
                        [[${article.id}]]
                    </button>
                </td>
                <td th:text="${article.category}"></td>
                <td th:text="${article.title}"></td>
                <td th:text="${article.content}"></td>
                <td th:text="${article.writerName}"></td>
            </tr>

            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>