<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
          .container {
              max-width: 560px;
}


    </style>

</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>게시물 상세</h2></div>

    <h2 th:if="${param.status}" th:text="'저장완료'"></h2>

</div>

<div>
    <label for="category">카테고리</label>
    <input type="text" id="category" name="category" class="form-control"
           value="A" th:value="${article.category}" readonly>
</div>
<div>
    <label for="title">제목</label>
    <input type="text" id="title" name="title" class="form-control"
           value="나의 일기" th:value="${article.title}" readonly></div>
<div>
    <label for="content">내용</label>
    <input type="text" id="content" name="content" class="form-control"
           value="오늘 하루" th:value="${article.content}" readonly>
</div>
<div>
    <label for="writerName">작성자</label>
    <input type="text" id="writerName" name="writerName" class="form-control"
           value="sun" th:value="${article.writerName}" readonly>
</div>
<hr class="my-4">
<div class="row">

    <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="location.href='/posts/items'"
                type="button">게시물 목록으로
        </button>
    </div>
</div>
</div> <!-- /contain er -->
</body>
</html>


