<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <title>게시물 목록</title>
</head>
<body>
<div class="container" style="max-width:600px"></div>
</div>
<div class="row">
    <div class="col">
        <li><a href="/posts/list"> 게시물 목록 </a>    </div>
</div>

<hr class="my-4">
<div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>카테고리</th>
            <th>제목</th>
            <th>내용</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody></tbody>
            <td><a href="article.html" th:href="@{/basic/article/{articleId}(articleId=${article.id})}" th:text="${article.id}" >1</a></td>
            <td th:text="${article.category}"> A</td>
            <td th:text="${article.title}">제목B</td>
            <td th:text="${article.content}">내용C</td>
            <td th:text="${article.writerName}">sun</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>