<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<script>
    const urlSearchParams = new URLSearchParams(window.location.search);
    const params = Object.fromEntries(urlSearchParams.entries());
    if(params.isValid == 'false'){
        alert("로그인 정보를 확인해주세요!")
    }
</script>
<body>
<div>
    <form method="post" action="/users/login" id="postForm">
        <div>로그인 하기</div>
        <div>

        </div>
        <div>
            <label>
                ID:
                <input name="username" type="text">
            </label>

        </div>
        <div>
            <label>
                PW:
                <input name="password" type="text">
            </label>
        </div>


        <div>
            <button class="w-100 btn btn-secondary btn-lg"
                    type="submit">로그인
            </button>
        </div>

    </form>
</div>
</body>
</html>
